<%layout("layouts/boilerplate.ejs")%>
        <h1><%=quiz.quizId%></h1>
        <h3><i><%=quiz.quizDescription%></i></h3>
        <h3><i><%=quiz.quizQuestion%></i></h3>
    
    <footer>
       <p> <a href="/createQuiz/<%=quiz.id%>/edit">Edit</a></p>

       <p> <a href="/createQuiz/<%=quiz.id%>/addQ">Add Question</a></p>

       <form action="/createQuiz/<%=quiz.id%>?_method=DELETE" method="POST">
        <button>Delete</button>
       </form>
       <br>
        <a href="/createQuiz">Back</a>
    </footer>
